/* General Layout */
html {
    border-left: 5px solid lightgray;
}

body {
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0;
}

/* Spacing for header, main, and footer */
header, main, footer {
    padding: 1rem 2rem;
}

/* Header Styles */
h1 {
    color: tomato;
}

/* Image Styles */
img {
    width: 100%;
}

/* Navigation Styles */
.main-nav, .footer-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.main-nav a {
    color: lightgray;
    text-decoration: none;
}

.footer-nav a {
    color: tomato;
    text-decoration: none;
}

/* Blog Article Styles */
article {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}

article h3 {
    font-size: 1.5rem;
}

article a {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    color: tomato;
}

article p::first-letter {
    font-size: 2em;
    color: lightgray;
}

/* Footer Styles */
footer p {
    color: lightgray;
}
